In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [43]:
def top(time_period='',page=1):
    url = 'https://letterboxd.com/films/ajax/popular/'+time_period+'/size/small/'
    if page != 1:
        url = url+f'page/{page}/'
    page = requests.get(url)
    soup = BeautifulSoup(page.content,'html.parser')
    films_divs = soup.find_all(title=True)
    films = pd.DataFrame()
    films['Title'] = [films_divs[i]['title'][:-7] for i in range(len(films_divs))]
    films['Year'] = [films_divs[i]['title'][-5:-1] for i in range(len(films_divs))]
    films['href'] = [films_divs[i]['href'] for i in range(len(films_divs))]
    return films

In [7]:
def search_film(query):
    query = str(query).replace(' ','+')
    search_url = main+f'/search/films/{query}/'
    search_page = requests.get(search_url)
    search_soup = BeautifulSoup(search_page.content,'html.parser')
    try:
        first_result_url = main+search_soup.find(class_='film-detail-content').h2.a['href']
    except:
        raise Exception('The film you searched for was not found. Try searching for a different title.')
    return first_result_url

In [8]:
def get_genres(film_url):
    film_page = requests.get(film_url)
    if not page.status_code:
        raise Exception('The url does not lead to a valid Letterboxd page. Make sure you entered the correct url for the film.')
    film_page = requests.get(film_url)
    film_soup = BeautifulSoup(film_page.content,'html.parser')
    genre_links = film_soup.find(id='tab-genres').find_all('a')
    genres = [genre_links[i].string for i in range(len(genre_links))]
    return genres

In [ ]:
def check_popularity(query):
    main = 'https://letterboxd.com'
    url = search_film(query)
    href = url.replace(main,'')
    page = 1
    films = top()
    while href not in films.href.values:
        page += 1
        films = top(page=page).set_index(films.index+72)
    film_info = films.loc[films.href==href]
    rank = film_info.index[0]+1
    print(f'{film_info.Title.iloc[0]} is ranked #{rank} in popularity')
    total_films = 540501
    obscurity = rank/total_films
    print(f'{film_info.Title.iloc[0]} is more obscure than {obscurity:.5f}% of films on Letterboxd.')
    return [film_info.Title.iloc[0],rank,rank/total_films]

In [12]:
main = 'https://letterboxd.com'
films = top()

In [75]:
main = 'https://letterboxd.com'
for ind in range(len(films)):
    film = films.iloc[ind]
    film_url = main+film.href
    genres = get_genres(film_url)
    films.loc[ind,'Genres'] = ','.join(genres)
films

,Title,Year,href,Genres
0,Palm Springs,2020,/film/palm-springs-2020/,"mystery,fantasy,romance,comedy"
1,Parasite,2019,/film/parasite-2019/,"comedy,drama,thriller"
2,Host,2020,/film/host-2020/,horror
3,The Kissing Booth 2,2020,/film/the-kissing-booth-2/,"comedy,romance"
4,Knives Out,2019,/film/knives-out-2019/,"mystery,thriller,comedy,drama,crime"
...,...,...,...,...
67,The Matrix,1999,/film/the-matrix/,"action,science fiction"
68,Lost in Translation,2003,/film/lost-in-translation/,"comedy,romance,drama"
69,Being John Malkovich,1999,/film/being-john-malkovich/,"drama,fantasy,comedy"
70,Zodiac,2007,/film/zodiac/,"mystery,thriller,drama,crime"
71,The Shawshank Redemption,1994,/film/the-shawshank-redemption/,"drama,crime"

In [10]:
url = search('blade runner')
page = requests.get(url)
soup = BeautifulSoup(page.content,'html.parser')
soup.find(class_='film-stats')

NameError: name 'search' is not defined

In [39]:
url = search_film('star wars episode iii')
url

'https://letterboxd.com/film/star-wars-episode-iii-revenge-of-the-sith/'

In [105]:
check_popularity('scott pilgrim')

Scott Pilgrim vs. the World is ranked #69 in popularity
Scott Pilgrim vs. the World is more obscure than 0.00013% of films on Letterboxd.

['Scott Pilgrim vs. the World', 69, 0.00012765933828059523]

In [68]:
films

,Title,Year,href
144,Room,2015,/film/room-2015/
145,Toy Story 4,2019,/film/toy-story-4/
146,Harry Potter and the Prisoner of Azkaban,2004,/film/harry-potter-and-the-prisoner-of-azkaban/
147,Zootopia,2016,/film/zootopia/
148,Snowpiercer,2013,/film/snowpiercer/
...,...,...,...
211,The Hunger Games,2012,/film/the-hunger-games/
212,The Disaster Artist,2017,/film/the-disaster-artist/
213,Sicario,2015,/film/sicario-2015/
214,Fantastic Beasts and Where to Find Them,2016,/film/fantastic-beasts-and-where-to-find-them/
215,The Thing,1982,/film/the-thing/

In [47]:
top(page=3)

,Title,Year,href
0,Room,2015,/film/room-2015/
1,Toy Story 4,2019,/film/toy-story-4/
2,Harry Potter and the Prisoner of Azkaban,2004,/film/harry-potter-and-the-prisoner-of-azkaban/
3,Zootopia,2016,/film/zootopia/
4,Snowpiercer,2013,/film/snowpiercer/
...,...,...,...
67,The Hunger Games,2012,/film/the-hunger-games/
68,The Disaster Artist,2017,/film/the-disaster-artist/
69,Sicario,2015,/film/sicario-2015/
70,Fantastic Beasts and Where to Find Them,2016,/film/fantastic-beasts-and-where-to-find-them/
71,The Thing,1982,/film/the-thing/

In [55]:
url.replace(main,'') not in top(page=3).href.values

False

In [50]:
url.replace(main,'')

'/film/star-wars-episode-iii-revenge-of-the-sith/'